.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContents {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.logoContainer {
  margin-bottom: 66px;
  font-weight: bold;
  font-size: 3rem;
}

.googleContainer {
  margin-bottom: 14px;
}

.kakaoContainer {
}

@media (max-width: 480px) {
  .logoContainer {
    font-size: 2rem;
  }
}
